/* Main container */
.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 20px;
  box-sizing: border-box;
}

/* Form styling */
.create-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title styling */
.title {
  font-size: 28px;
  font-weight: bold;
  color: #b18ef6;
  text-align: center;
  margin-bottom: 20px;
  width: 100%; 
  margin-top: 20px;/* Ensures the element stretches across */
}


/* Input fields */
.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: white;
  color: black;
  font-size: 16px;
}

/* Upload button */
.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 6px;
  background: linear-gradient(to right, #a855f7, #9333ea);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.submit-btn:hover {
  background: linear-gradient(to right, #9333ea, #7c3aed);
}
