/* Profile.css */
.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #b18ef6;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
  }
  
  .editable-input {
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    outline: none;
    border-bottom: 2px solid #a855f7;
  }
  
  .name-input {
    font-size: 24px;
  }
  
  .bio-input {
    font-size: 16px;
    font-style: italic;
  }
  